
@font-face {
  font-family:jibgurt ; /* Name your font family */
  src: url('fonts/jibgurt/Jibgurt.ttf') format('truetype'); /* Locate the .ttf file within your directory*/
}

@font-face {
    font-family:oldtwitter ; /* Name your font family */
    src: url('fonts/oldtwitter/pico.ttf') format('truetype'); /* Locate the .ttf file within your directory*/
}
@font-face {
  font-family:scratchfont ; /* Name your font family */
  src: url('fonts/scratchfont/scratchfont.ttf') format('truetype'); /* Locate the .ttf file within your directory*/
}
@font-face {
  font-family:tumblrfont ; /* Name your font family */
  src: url('fonts/tumblrfont/tumblr.ttf') format('truetype'); /* Locate the .ttf file within your directory*/
}
@font-face {
  font-family:vanillo ; /* Name your font family */
  src: url('fonts/blephinblephinblephin/vanillo.ttf') format('truetype'); /* Locate the .ttf file within your directory*/
}
@font-face {
  font-family:YT ; /* Name your font family */
  src: url('fonts/YT/yt.otf') format('truetype'); /* Locate the .ttf file within your directory*/
}

:root {
  color-scheme: light dark;

  --light-bg: #325aaa;
  --light-text: #000000;
  --light-body: #ccc;
  --light-body-outline: #8a8a8a;
  --light-nav-outline: #646464;
  --light-select: #a53a3a;
  --light-select-hover: #db5f5f;

  --dark-bg: #1a2764;
  --dark-text: #ffffff;
  --dark-body: #777777;
  --dark-body-outline: #464646;
  --dark-nav-outline: #525252;
  --dark-select: #812727;
  --dark-select-hover: #a13434;
}

.everything {
  padding: 5px;
  margin: auto;
  width: min-content;
  display: grid;
  place-items: center; /* center everything... yes */
  
}


.baner {
  display: inherit; 
  place-items: inherit;
  margin: min-content;
}

body {
  background: light-dark(var(--light-bg),var(--dark-bg)); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-image: url("cdn/movinbg.png");
  will-change:contents;
  animation: moveit 10s linear infinite;
  background-repeat: repeat;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  z-index: 0;
}

.body h1 {
  font-family:jibgurt;
  font-weight: bolder;
  color: light-dark(var(--light-text),var(--dark-text));
  text-align: initial;
}

.body h2 {
  font-family:jibgurt;
  font-weight: bold;
  color:light-dark(var(--light-text),var(--dark-text));
  text-align: initial;
}

p {
  font-family:jibgurt;
  color: light-dark(var(--light-text),var(--dark-text));
}

.body p {
  font-size:20px;
  font-family:jibgurt;
  text-align: justify;
}

.body a {
    color: light-dark(var(--light-select),var(--dark-select));
    font-size:20px;
    font-family:jibgurt;
    z-index: 10;
    text-decoration: none;
    font-weight: bold;
}

.body a:hover {
  text-decoration: underline;
  color:light-dark(var(--light-select-hover),var(--dark-select-hover));
}

.racesire {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0px;
  opacity: 5%;
  z-index: 1;
}

@keyframes moveit {
  from {background-position: 0px 0px;}
  to {background-position: 140px 110px;} /* so close..... */
}


@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.body{
  font-family: jibgurt;
  position: relative;
  width: 700px;
  margin-top: -50px;
  text-align: center;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top: 0px solid #cccccc;
  border-bottom: 0px;
  outline: 6px solid light-dark(var(--light-body-outline),var(--dark-body-outline)); 
  padding: 30px;
  padding-bottom: 40px;
  background-color: light-dark(var(--light-body),var(--dark-body));
  
  height: max-content;
  z-index: 1;
}

.navbar {
  position: relative;
  margin-top: -25px;
  z-index: 4;
  top: 0;
  width: 960px;
}

.navbar ul{
  list-style-type: none;
  background: linear-gradient(#A5A5A5 0%,#8a8a8a 50%);
  border:6px solid light-dark(var(--light-nav-outline),var(--dark-nav-outline));
  border-top: 0px solid black;
  padding: -10px;
  overflow: hidden;
  height: 43px;
  margin-left: 80px;
  margin-right: 80px;
  display:flex;
  justify-content: safe center;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width:thin;
  scrollbar-color: #cccccc #00000000;
}


.navbar a{
  color: #e0e0e0;
  font-family: 'Impact';
  text-decoration: none;
  display: block;
  font-size: 27px;
  padding: 7px;
  padding-left: 45px;
  padding-right: 45px;
  text-align: center;
  border-radius: 2px;
}

.navbar a:hover{
  background-color: #b6b6b6;
  color: #ffffff;
}

.navbar li{
  float: left;
  padding-bottom: 0px;
  padding: auto;
}

.navbar ul li {
  display: flex;

}

.banner {
  position: relative;
  z-index: 5;

  display: block;
}

.hand {
  position: relative;
  z-index: 6;
  right: -85%;
  bottom: 20px;
}

.bgdoodle {
  height: auto;
  margin-right: 5000000px;
}

.body #centeredtxt {
  text-align: center;
}

.body img#linklogo {
  image-rendering: pixelated;
  width: 25px;
  height: auto;
}

.body #reallybig {
  font-size: 40px;
  font-weight: 900;
}

.swfanim {
  display: flex;
  outline: 5px solid #12274b;
  margin: 10px;
}

.ytlogo {
  padding: 5px;
  vertical-align: middle;
}

.videolink {
  text-align: left;
  padding-top: 20px;
}

#thisisonlyforblips {
  text-shadow: 0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white,
  0 0 4px white;
  
}

#card {
  border-radius: 10px;
  width: 250px;
  text-align: left;
  height: auto;
  margin: 30px;
  
}

.headerbar {
  overflow: hidden;
  margin: auto;
  background-color: rgb(255, 235, 56);
  outline: 4px solid rgb(83, 50, 0);
  z-index: 10;
}
.headertext {
  font-family: jibgurt;
  font-size: large;
}

.marquee {
  line-height: 0px;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.marquee p {
  text-transform: uppercase;
  font-family: jibgurt;
  display: inline-block;
  padding-left: 100%;
  animation: marquee 40s linear infinite;
}

@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

.retro2000sglass {
  display: grid;
  place-items: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
  width: 200px;
  border: 3px solid rgba(141, 156, 204, 0.562);
  background-color: #ffffff2a;
  backdrop-filter: blur(3px);
  padding: 2px;
  text-align: center;
  color: #ffffff94;
}

.card:hover{
  outline: 6px dashed light-dark(var(--light-select),var(--dark-select));
}

#card:hover {
  filter: brightness(120%);
}

.themetoggle {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index:21;
  padding: 10px;
}

.themetoggle img {
  width: 80%;
  height: auto;
}

#themetoggle {
  display: none;
}